.bg {
  background-color: #ffffff;

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  padding: 20px;
}

.comment-section {
  display: flex;

  flex-direction: row;
}

.input {
  box-shadow: 5px 5px 2px 5px #dee0e3;

  padding: 5px;

  margin-bottom: 10px;

  border: 0px;

  border-radius: 5px;
}

.form-section {
  display: flex;

  flex-direction: column;
}

.line {
  background-color: #475569;
  width: 100%;
  border-width: 1px;
}

.img {
  height: 200px;

  width: 300px;

  margin-left: 100px;
}
